[user]
    name = "Auke Geerts"
    email = "22003779+fadarrizz@users.noreply.github.com"
    signingkey = 68C13F84AA041C85
[filter "lfs"]
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
[commit]
	gpgsign = true
[tag]
	forceSignAnnotated = false
    gpgsign = true
[core]
	editor = nvim
	excludesfile = ~/.dotfiles/git/.gitignore_global
    ignorecase = false
[alias]
	ctags = !.git/hooks/ctags
	wtf = !$DOTFILES/bin/git-wtf
[init]
	templatedir = ~/.dotfiles/git/.git_template
	defaultBranch = main
[pull]
	rebase = true
[remote "origin"]
	prune = true
[push]
	default = current
[diff]
    tool = nvimdiff
[difftool]
    prompt = false
[difftool "nvimdiff"]
    cmd = nvim -d "$LOCAL" "$REMOTE"
[merge]
    tool = nvimdiff
[mergetool]
    prompt = false
    keepBackup = false
[mergetool "nvimdiff"]
    cmd = nvim -d "$LOCAL" "$BASE" "$REMOTE" "$MERGED" -c '$wincmd w' -c 'wincmd J'
[rerere]
	enabled = true

[includeIf "gitdir:~/work/"]
    path = ~/.dotfiles/git/.work.gitconfig
[url "git@github.com:"]
	insteadOf = https://github.com/
