[user]
	name = Fadarrizz
	email = auk.geerts@gmail.com
	signingKey = ""
[filter "lfs"]
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
[gpg]
	program = gpg
[commit]
	gpgSign = false
[tag]
	forceSignAnnotated = false
[core]
	editor = nvim
	excludesfile = ~/.dotfiles/git/.gitignore_global
[alias]
	ctags = !.git/hooks/ctags
[init]
	templatedir = ~/.dotfiles/git/.git_template
[pull]
	rebase = false
[remote "origin"]
	prune = true
