[user]
    name = "Auke Geerts"
    email = "22003779+fadarrizz@users.noreply.github.com"
	signingkey = /Users/auke.geerts/.ssh/work.pub
[filter "lfs"]
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
[commit]
	gpgsign = true
[gpg]
	format = ssh
[tag]
	forceSignAnnotated = false
    gpgsign = true
[core]
	editor = nvim
	excludesfile = ~/.dotfiles/git/.gitignore_global
    ignorecase = false
[alias]
	ctags = !.git/hooks/ctags
	wtf = !$DOTFILES/bin/git-wtf
[init]
	templatedir = ~/.dotfiles/git/.git_template
	defaultBranch = main
[pull]
	rebase = true
[remote "origin"]
	prune = true
[push]
	default = current
[diff]
    tool = nvimdiff
[difftool]
    prompt = false
[difftool "nvimdiff"]
    cmd = nvim -d "$LOCAL" "$REMOTE"
[merge]
    tool = nvimdiff
[mergetool]
    prompt = false
    keepBackup = false
[mergetool "nvimdiff"]
    cmd = nvim -d "$LOCAL" "$BASE" "$REMOTE" "$MERGED" -c '$wincmd w' -c 'wincmd J'
[rerere]
	enabled = true

# [url "git@github.com:"]
    # insteadOf = https://github.com/
[trace2]
	eventTarget = af_unix:stream:/Users/auke.geerts/.git-ai/internal/daemon/trace2.sock
	eventNesting = 0
