alias zshconfig="nvim ~/.zshrc"

# Git
alias gs="git status"
alias gl="gi log"
alias gcom="git checkout master"
alias gaa="git add ."
alias gc="git commit -m "
alias gp="git push"
alias nah="git reset --hard && git clean -df"
alias gcm="git checkout master"
alias gnbm="gitNewBranchOnMaster "
alias gcmp="git checkout master && git fetch && git pull"
alias gdlb="git branch --merged | egrep -v '(^\*|master|main)' | xargs git branch -d"

# Dir & listing
alias l="ls -la"				    # List in long format, include dotfiles
alias ld="ls -ld */"				    # List in long format, only directories
alias ..="cd .."
alias ...="cd ../.."
alias ....="cd ../../.."
alias mkcd="mk "

# Recursively remove .DS_Store files
alias cleanupds="find . -type f -name '*.DS_Store' -ls -delete"
