[submodule "zsh/themes/powerlevel10k"]
	path = zsh/themes/powerlevel10k
	url = git@github.com:romkatv/powerlevel10k
	ignore = dirty
[submodule "zsh/custom/plugins/zsh-autosuggestions"]
	path = zsh/custom/plugins/zsh-autosuggestions
	url = git@github.com:zsh-users/zsh-autosuggestions
	ignore = dirty
[submodule "git/dotbot"]
	path = git/dotbot
	url = git@github.com:anishathalye/dotbot
	ignore = dirty
[submodule "tmux/plugins"]
	path = tmux/plugins
	url = git@github.com:tmux-plugins/tpm
	ignore = dirty
